.background-layer {
}

.setting-ui-container {
    width: 650px;
    border: 1px black solid;
    border-radius: 5px;

    position: absolute;
    background-color: white;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.select-buttons-container {
    display: flex;
    flex-wrap: wrap;
}

.setting-ui-parts-type {
    margin: 10px;
}

.close-button {
    width: 30px;
    height: 30px;
    margin: 10px;
}
