.item-selector-container {
    display: flex;
    width: 49%;
    margin: 3px;
    border-radius: 5px;
    padding: 3px 3px 5px;
    position: relative;
    align-items: center;
}

.select-button-img {
    width: 40px;
    height: 40px;
    margin: 3px;
    vertical-align: bottom;
    object-fit: none;
}

.select-button-text {
    margin: 3px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left;
}

.select-button-text p {
    margin: 0;
}

.gray-layer {
    background-color: Gray;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.check-mark {
    margin: auto 10px;
    position: absolute;
    right: 0;
    font-size: 30px;
    color: LightGreen;
    z-index: 1;
}
