.set-container {
    width: 290px;
    margin: 15px;
    border: 3px double White;
    border-radius: 10px;
    background-color: #222222;
    font-size: 13px;
    color: #CCFF00;
    text-align: left;
}

.set-name {
    margin: 5px;
    text-align: center;
}

.set-container p {
    margin: 0px;
}

.set-inner-container {
    margin: 10px;
}

.set-parts {
    display: flex;
    justify-content: space-between;
}

.parts-type {
    float: right;
    height: auto;
}

.how-much-set-effect {
    margin: 3px 0;
}

.lucky-applied-set {
    color: Orange;
}

.applied-set {
    color: White;
}

.not-applied-set {
    color: Gray;
}
